@import url(assets/normalize.css);
@import url(assets/fonts/fonts.css);

.html {
    scroll-behavior: smooth;
}

.page {
    max-width: 1444px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #ffffff;
}

.body {
    font-family: "RedHatText", sans-serif;
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    background: #E5E5E5;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.button {
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    width: 103px;
    height: 41px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: 1s;
}

.button:hover {
    background: #07272c;
}

.destinations__button {
    display: flex;
    gap: 10px;
    width: 228px;
    height: 59px;
    align-items: center;
    margin: 0 auto;
    font-family: 'RedHatText';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.destinations__button_text {
    font-family: 'RedHatText';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.destinations__button_icon {
    width: 40px;
    height: 40px;
    margin-left: 27px;
}

.destinations__container {
    position: relative;
    margin: 0 auto;
}

.destinations__dot {
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
}

.destinations__dot_active {
    background: #F2785C;
    cursor: pointer;
}

.destinations__dots {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 20px auto 40px;
    width: 80px;
}

.destinations__image {
    width: 800px;
    height: 800px;
    z-index: 1;
    border-radius: 16px;
}

.destinations__text {
    font-family: 'RedHatText';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    overflow: visible;
    position: absolute;
    left: 15px;
    bottom: 40px;
    z-index: 2;
    padding: 0;
    margin: 0;
}

.destinations__title {
    font-family: 'RedHatText';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    text-align: center;
    margin-top: 95px;
    margin-bottom: 50px;
}

.destinations__wrapper {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.footer {
    
    max-width: 1444px;
       
}

.footer__background {
    background-image: url(../travel/assets/image/Rectangle33.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%; 
    overflow: visible;
    z-index: 3;
}

.footer_icon {
    width: 30px;
    height: 30px;
}

.footer__items {
    display: flex;
    list-style: none;
    gap: 20px;
}

.footer__link {
    width: 80px;
    height: 80px;
    
}

.footer__text {
    color: white;
    text-decoration: none;
    font-family: 'RedHatText';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.footer__text:hover {
    font-size: 17px;
}

.footer__wrapper {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 120px 10px;
}

.header {
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    max-width: 1444px;
    height: 90px;
    margin: 0;
    padding: 0;
}

.header__item_notvisible {
    display: none;
}

.header__item {
    list-style-type: none;
    font-family: 'RedHatText';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    padding: 0;
    margin: 0;
    transition: 1s;
}

.header__item:hover {
    font-size: 17px;
}

.header__items {
    display: flex;
    gap: 42px;
    margin: 0;
    padding: 0;
    margin-left: 70px;
}

.header__link {
    text-decoration: none;
    color: white;
    scroll-behavior: smooth;
}

.header__wrapper {
    max-width: 1204px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    padding: 0;
    height: 90px;
}

.header__background {
    background-image: url(./assets/image/garrett-parker-DlkF4-dbCOU-unsplash1.jpg); 
    background-repeat: no-repeat;
    background-size: 100%;   
    overflow: visible;
    margin-bottom: 80px;
    
}

.logo {
    display: flex;
    align-items: center;
}

.logo__text {
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}

.logo__image {
    width: 30px;
    height: 30px;
    margin-right: 6px;
}

.preview__button {
    width: 228px;
    height: 59px;
    font-family: 'RedHatText';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.preview__paragraph {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 46px;
    padding-top: 10px;
}

.preview__search {
    display: flex;
    background: rgba(255, 255, 255, 0.7);
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    max-width: 832px;
    height: 95px;
    padding-left: 41px;
    padding-right: 18px;
}

.preview__search_text {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
    padding: 0;
    margin: 0;
}

.preview__title {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    margin: 0;
    padding: 0;
}

.preview__wrapper {
    max-width: 892px;
    padding: 32px 120px 255px 120px;
    margin: 0;
}

.steps {
    max-width: 1177px;
    margin: 0 auto 0;
}

.steps__title {
    font-family: 'RedHatText';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.steps__paragraph {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    padding: 0;
    margin: 33px 0 0 0;
  
}
.steps__paragraph_two {
    padding-left: 50px;
}

.steps__items {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 42px 70px 0;
    padding: 0;
}

.steps__item:last-child {
    margin-right: 30px;
} 
.steps__item:first-child {
    margin-right: 30px;
} 

.steps__image {
    background: #F2785C;
    border-radius: 16px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.steps__icon_air {
    width: 60px;
    height: 45px;
}

.steps__icon_bas {
    width: 50px;
    height: 45px;
}

.steps__icon_calc {
    width: 52px;
    height: 52px;
}

.steps__icon {
    align-self: center;
}

.steps__texts {
    display: flex;
    gap: 170px;
    width: 100%;
}

.stories {
    padding: 0 120px 45px;
    background: rgba(255, 255, 255, 0.7);
    max-width: 1444px;
}

.stories__wrapper {
    display: flex;
    gap: 40px;
}

.stories__title {
    font-family: 'RedHatText';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    text-align: center;
    margin-top: 80px;
}

.stories__image {
    width: 400px;
    height: 250px;
    border-radius: 16px;
    box-shadow: 0px 4px 4px #0D606F;
}

.stories__grid {
    display: grid;
    gap: 30px;
    margin-top: 75px;
    margin-bottom: 40px;
}

.stories__container_title {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.stories__container_text {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    margin: 0;
    padding: 0;
}

.stories__container_link {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #0D606F;
    margin: 0;
    padding: 0;
}
.arrow-left {
    background-image: url(../travel/assets/icon/Vector-left.svg);
    position: absolute;
    width: 50px;
    height: 20px;
    z-index: 0;
    left: 10px;
    bottom: 40px;
    background-repeat: no-repeat;
}
.arrow-rigth {
    background-image: url(../travel/assets/icon/Vector-right.svg);
    position: absolute;
    width: 50px;
    height: 20px;
    z-index: 0;
    right: 10px;
    bottom: 40px;
    background-repeat: no-repeat;
}

@media (max-width: 1200px) {
    .header__wrapper {
        padding-left: 50px;
        padding-right: 50px;
    }
    .header__items {
        gap: 20px;
    }
    .header__item {
        font-size: 14px;
    }
    .preview__title {
        font-size: 60px;
        line-height: 76px;
    }
    .preview__paragraph {
        font-size: 18px;
        line-height: 20px;
    }
    .preview__wrapper {
       
       padding-bottom: 200px;
    }
    .preview__search {
        max-width: 832px;
        height: 95px;
        padding-left: 21px;
        padding-right: 18px;
        height: 70px;
    }
    
    .preview__search_text {
        font-size: 18px;
        line-height: 19px;
        padding: 0;
        margin: 0;
    }
    .preview__button {
        width: 160px;
        height: 49px;
        font-size: 18px;
        line-height: 22px;
    }
    .steps__texts {
        display: flex;
        gap: 50px;
        width: 100%;
        justify-content: space-around;
    }
}

@media (max-width: 888px) {
    .header__wrapper {
        padding-left: 25px;
        padding-right: 25px;
    }
   
    .logo__text {
        display: none;
    }
    .header {
        background: none;
        box-shadow: none;
    }
    .preview__title {
        display: none;
    }
    .preview__paragraph {
        display: none;
    }
    .preview__wrapper {
        padding-top: 50px;
        padding-left: 25px;
        padding-right: 50px;
     }
     .preview__search {
         max-width: 767px;
         height: 90px;
         padding-left: 21px;
         padding-right: 18px;
         height: 70px;
     }
     .preview__search_text {
         font-size: 14px;
         line-height: 17px;
     }
     .preview__button {
         width: 92px;
         height: 30px;
         font-size: 11px;
         line-height: 15px;
     }  
     .steps__texts {
        display: flex;
        gap: 60px;
        width: 100%;
        
    }
    .steps__paragraph {
        font-size: 14px;
        line-height: 16px;
        margin-top: 20px;
        padding: 0;
    }
    .footer__text {
        display: none;
    }
    .stories__title {
        font-size: 14px;
        line-height: 19px;
        margin-top: 17px;
    }
    
    .stories__image {
        width: 150px;
        height: 130px;
        border-radius: 16px;
        box-shadow: 0px 4px 4px #0D606F;
    }
    
    .stories__grid {
        display: grid;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .stories__container_title {
        
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        margin-top: 0;
        padding: 0;
        margin-bottom: 10px;
    }
    
    .stories__container_text {
        overflow: hidden;
        font-size: 9px;
        line-height: 10px;
        max-height: 90px;
        padding: 0;
        margin: 0;
       
    }
    
    .stories__container_link {
        padding: 0;
        font-weight: 700;
        font-size: 9px;
        line-height: 11px;
        margin: 0;
       
    }
    .stories {
        padding: 0 15px 10px;
        background: rgba(255, 255, 255, 0.7);
        max-width: 1444px;
    }
}

@media (max-width: 700px) {
    .header__items {
display: none;
    }
}

@media (max-width: 390px) {
  
    .header {
        padding-top: 15px;
        background: none;
        box-shadow: none;
        
    }
    .header__background {
        height: 251px;
        background-size: cover;
        margin: 0;
    }
    .logo__text {
        display: none;
    }
    .header__wrapper {
        padding-left: 16px;
        padding-right: 16px;
        max-width: 390px;
    }
    .header__button {
        display: none;
    }

    .preview__wrapper {
        padding-top: 37px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .preview__search {
        max-width: 320px;
        height: 48px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .preview__search_text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
    .steps {
        max-width: 380px;
        margin: 0 15px;
        
    }
    .steps__items {
        justify-content: space-between;
        margin: 20px 0 0 0;
        gap: 20px;
    }
   
    .steps__icon_air {
        width: 40px;
        height: 30px;
    }
    .steps__icon_bas {
        width: 35px;
        height: 32px;
    }
    .steps__icon_calc {
        width: 35px;
        height: 35px;
    }
    .steps__title {
        margin-top: 20px;
        font-size: 14px;
        line-height: 18px;
    }
    .steps__paragraph {
        font-size: 10px;
        line-height: 12px;
        margin-top: 20px;
        padding: 0;
    }

    .steps__paragraph_one {
        width: 95px;
    }
    .steps__paragraph_two {
        margin-left: 15px;
        padding: 0;
        width: 111px;
    }

    .steps__paragraph_three {
        width: 100px;
        margin-left: 10px;
        text-align: end;
    }
    .steps__image {
        width: 70px;
        height: 70px;
    }
    .steps__item:last-child {
        margin-right: 0px;
    } 
    .steps__item:first-child {
        margin-right: 0px;
    } 
    .steps__texts {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-left: 0;
    }

    .destinations__button {
        gap: 6px;
        width: 92px;
        height: 30px;
        font-size: 11px;
        line-height: 15px;
    }
    .destinations__button_text {
        font-size: 11px;
        line-height: 15px;
    }
    .destinations__button_icon {
        width: 10px;
        height: 10px;
        margin-left: 6px;
    }
    
    .destinations__container {
        position: relative;
        margin: 0 auto 7px;
    }
    
    .destinations__dot {
        width: 8px;
        height: 8px;
        background: rgba(242, 120, 92, 0.5);
        border-radius: 50%;
    }
    
    .destinations__dot_active {
        background: #F2785C;
        cursor: pointer;
    }
    
    .destinations__dots {
        list-style: none;
        display: flex;
        gap: 10px;
        margin: -30px auto 50px;
        padding: 0;
        width: 80px;
        justify-content: center;
        z-index: 5;
        position: absolute;
        left: 40%;
    }
    
    .destinations__image {
        width: 360px;
        height: 210px;
        z-index: 1;
    }
    
    .destinations__text {
        font-size: 20px;
        line-height: 26px;
        left: 15px;
        top: 8px;
        z-index: 2;
        padding: 0;
        margin: 0;
    }
    
    .destinations__title {
        font-size: 14px;
        line-height: 19px;
        margin-top: 22px;
        margin-bottom: 20px;
    }
    
    .destinations__wrapper {
        display: flex;
        gap: 60px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .arrow-left {
        position: absolute;
        width: 30px;
        height: 30px;
        z-index: 5;
        left: 10px;
        bottom: 40%;
    
       }
       .arrow-rigth {
        position: absolute;
        width: 30px;
        height: 30px;
        z-index: 5;
        right: 10px;
        bottom: 40%;
    }
    .stories__wrapper {
        
        gap: 10px;
    }
    
    .stories__title {
        font-size: 14px;
        line-height: 19px;
        margin-top: 17px;
    }
    
    .stories__image {
        width: 150px;
        height: 130px;
        border-radius: 16px;
        box-shadow: 0px 4px 4px #0D606F;
    }
    
    .stories__grid {
        display: grid;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .stories__container_title {
        
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        margin-top: 0;
        padding: 0;
        margin-bottom: 10px;
    }
    
    .stories__container_text {
        overflow: hidden;
        font-size: 9px;
        line-height: 10px;
        max-height: 90px;
        padding: 0;
        margin: 0;
       
    }
    
    .stories__container_link {
        padding: 0;
        font-weight: 700;
        font-size: 9px;
        line-height: 11px;
        margin: 0;
       
    }
    .stories {
        padding: 0 15px 10px;
        background: rgba(255, 255, 255, 0.7);
        max-width: 1444px;
    }

    .footer {
        max-width: 1444px;
    }
    
    .footer__background {
        background-image: url(../travel/assets/image/Rectangle33.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: 100%; 
        overflow: hidden;
        z-index: 3;
        
    }
    
    .footer_icon {
        width: 30px;
        height: 30px;
    }
    
    .footer__items {
        display: flex;
        list-style: none;
        gap: 20px;
        position: absolute;
        left: 33%;
        margin: 0;
        padding: 0;
    }
    
    .footer__link {
        display: none;
    }
    
    .footer__text {
        display: none;
    }
   
    .footer__wrapper {
        height: 50px;
        margin: 10px 0;
    }
    .footer__background {
        background-image: url(../travel/assets/image/Rectangle33.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 100%; 
        overflow: hidden;
        z-index: 3;
    }
    .burger {
        z-index: 15;
        display: block;
        position: relative;
        width: 25px;
        height: 18px;
        cursor: pointer;
        margin-right: 10px;
    }
    .burger_active::before {
        top: -10%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .burger_active::after {
        top: 10%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .burger__span_active {
        display: none;
    }
    .burger__span {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: white;
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .burger::before,
    .burger::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: white;
        content: "";
    }

    .burger::before {
        top: 0;
    }

    .burger::after {
        bottom: 0;
    }

    .header__items {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -150%;
        height: 100%;
        background-color: #F2785C;
        padding: 44px 15px 30px 44px;
        transition: left 0.3s ease 0s;
        gap: 10px;
        overflow: auto;
        z-index: 10;
        margin: 0;
        width: 100%;
    }
    .header__item {
        display: inline-block;
    }
    .header__items_active {
        left: 0;
    }
    
    .header__link {
        
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
    }

    .header__item_notvisible {
        display: block;
    }

    .body_noscroll {
        overflow: hidden;
    }
 }


