.preview__title {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    margin: 0;
    padding: 0;
}

@media (max-width: 1115px) {
    .preview__title {
        font-size: 70px;
        line-height: 76px;
    }
}

@media (max-width: 840px) {
    .preview__title {
        font-size: 60px;
        line-height: 66px;
    }
}

@media (max-width: 600px) {
    .preview__title {
        font-size: 50px;
        line-height: 56px;
    }
}

@media (max-width: 390px) {
    .preview__title {
        display: none;
    }
}