.page {
    max-width: 1444px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
    font-weight: 400;
    color: #FFFFFF;
    background-image: url(../assets/image/garrett-parker-DlkF4-dbCOU-unsplash1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    background-color: #ffffff;
}