.page {
    max-width: 1444px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
    font-weight: 400;
    color: #FFFFFF;
    background-image: url(../assets/image/garrett-parker-DlkF4-dbCOU-unsplash1.jpg), url(../assets/image/Rectangle33.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, 100%;
    background-position: top, bottom;
    background-color: #ffffff;
}

@media (max-width: 391px) {
    .page {
        background-image: url(../assets/image/background-top-mobile.jpg), url(../assets/image/background-bottom-mobile.jpg);
        
    }  
}
/* 
width: 1440px; */



