.popup__line {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: rgba(13, 96, 111, 0.5);
    padding: 0;
    margin: 0 45px;
    text-align: center;
    overflow: hidden;
}

.popup__span {
    position: relative;
}

.popup__span::after {
    display: block;                  
    width: 300px;                   
    content: '';                     
    position: absolute;              
    border: 1px solid rgba(13, 96, 111, 0.5);  
    top:50%;                        
    right: 30px;                    
}        
.popup__span::before {
    display: block;                  
    width: 300px;                   
    content: '';                     
    position: absolute;              
    border: 1px solid rgba(13, 96, 111, 0.5);  
    top:50%;                        
    left: 30px;                    
}           

.popup__underline {
    border: 1px solid rgba(13, 96, 111, 0.5);
    transform: rotate(0.1deg);
    margin: 26px 45px 20px;
}    