.stories__title {
    font-family: 'RedHatText';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    text-align: center;
    margin-top: 80px;
}