.footer__background {
    background-image: url(../assets/image/Rectangle33.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%; 
    overflow: hidden;
    z-index: 3;
}