.popup__link {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    text-align: center;
    color: #0D606F;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}