.preview__wrapper {
    max-width: 892px;
    margin: 32px 25px 0 120px;
    padding: 0;
    
}

@media (max-width: 1115px) {
    .preview__wrapper {
        margin: 32px 25px 0 80px;
    }
}

@media (max-width: 840px) {
    .preview__wrapper {
        margin: 32px 25px 0 60px;
    }
}

@media (max-width: 600px) {
    .preview__wrapper {
        margin: 32px 15px 0 15px;
    }
}

