.header__wrapper {
    max-width: 1204px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    padding: 0;
    height: 90px;
}