.logo__text {
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}


@media (max-width: 840px) {
    .logo__text {
        display: none;
    }
}