.preview__search {
    display: flex;
    background: rgba(255, 255, 255, 0.7);
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    max-width: 832px;
    height: 95px;
    padding-left: 41px;
    padding-right: 18px;
}

@media (max-width: 600px) {
    .preview__search {
        margin-bottom: 40px;
        height: 70px;
    }
}

@media (max-width: 391px) {
    .preview__search {
        max-width: 360px;
        height: 48px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 60px;
    }
}
